@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    background: black;
}

.card {
    background-color: white;
    width: 400px;
    height: 500px;
    margin: 5% auto;
    position: relative;

    .content {
        width: 400px;
        padding: 30px;
        box-sizing: border-box;
        
        a {
            display: inline-block;
            margin: 10px 0 0;
            padding: 10px 20px;
            border: 1px solid violet;
            text-decoration: none;
            border-radius: 5em;
            font-weight: 600;
        }
    }

    .sliderText {
        position: relative;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: violet;

        h3 {
            color: white;
            font-size: 3em;
        }
    }
}

.swiper-slide {
    width: 400px;

}